<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <title>Record your favorite photos</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: "Nanum Gothic Coding", monospace;
            font-weight: 400;
            font-style: normal;
        }

        .wrap {
            margin: auto;
            width: 900px;
        }

        header {

            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            height: 150px;
            padding: 1rem;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
            background-position: center;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            z-index: 2;
        }

        main {
            padding: 1rem;
            height: 100%;
            margin-top: 150px;
            z-index: 1;
        }

    </style>

    <script>
        $(document).ready(function () {
            listing();
        });

function listing() {
            $('#cards-box').empty()
            $.ajax({
                type: 'GET',
                url: '/movie',
                data: {},
                success: function (response) {
                    let rows = response['movies']
                    for(let i = 1; i < rows.length; i++) {
                        if(rows[i]['star']!=null){
                        let image = rows[i]['image']
                        let title = rows[i]['title']
                        let desc = rows[i]['desc']
                        let star = rows[i]['star']
                        let comment = rows[i]['comment']

                        let star_image = '🌸'.repeat(star)

                        let temp_html = `<div class="col col-md-4 mb-3">
                                              <div class="card h-100">
                                                    <img class="card-img-top" alt="..." src="${image}">
                                                    <div class="card-body">
                                                        <h6 class="card-title">${title}</h6>
                                                        <p>${star_image}</p>
                                                        <p class="mycomment">${comment}</p>
                                                    </div>
                                              </div>
                                          </div>`

                        $('#cards-box').append(temp_html)
                    }
                }
                }
            })
        }

function posting() {
            let url = $('#url').val()
            let star = $('#star').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/movie',
                data: {url_give: url, star_give: star, comment_give: comment },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function open_box(){
            $('#post-box').show()
        }
        function close_box(){
            $('#post-box').hide()
        }


    </script>
</head>

<body>

</body>

<!-- Button trigger modal -->
<header class="Button_trigger_modal">
    <h1>What is the most popular picture?</h1>
    <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
      사진 기록하기
    </button>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">사진의 링크 주소를 복붙하세요!</h3>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">URL</label>
            <input id="url" type="email" class="form-control" placeholder="사진 영화 url을 입력하세요.">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">별점</label>
            <select class="form-select" id="star">
                <option selected>-- Chois --</option>
                <option value="1">🌸</option>
                <option value="2">🌸🌸</option>
                <option value="3">🌸🌸🌸</option>
                <option value="4">🌸🌸🌸🌸</option>
                <option value="5">🌸🌸🌸🌸🌸</option>
            </select>
        </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">comment</label>
        <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
    </div>
      </div>
      <div class="modal-footer">
          <button onclick="posting()" type="button" class="btn btn-primary">기록하기</button>
          <button onclick="close_box()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<main class="mycards">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="cards-box">
        <div class="col">
            <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">타이틀이 들어갑니다.</h3>
<!--?                    <p class="card-text">사진에 대한 설명이 들어갑니다.</p>-->
                    <p>⭐⭐⭐</p>
                    <p class="mycomment">떠오르는 영감을 기록하세요!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">타이틀이 들어갑니다.</h3>
<!--?                    <p class="card-text">사진에 대한 설명이 들어갑니다.</p>-->
                    <p>⭐⭐⭐</p>
                    <p class="mycomment">떠오르는 영감을 기록하세요!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">타이틀이 들어갑니다.</h3>
<!--?                    <p class="card-text">사진에 대한 설명이 들어갑니다.</p>-->
                    <p>⭐⭐⭐</p>
                    <p class="mycomment">떠오르는 영감을 기록하세요!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">타이틀이 들어갑니다.</h3>
<!--?                    <p class="card-text">사진에 대한 설명이 들어갑니다.</p>-->
                    <p>⭐⭐⭐</p>
                    <p class="mycomment">떠오르는 영감을 기록하세요!</p>
                </div>
            </div>
        </div>
    </div>
</main>

</html>